@font-face {
	font-family: "HeadlandOne-Regular";
	src: url('./fonts/HeadlandOne-Regular.ttf');
}

body, html { 
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem ;
}

.line_one {
    margin-bottom: 2rem;
    height: 2rem;
    background-color: rgb(168, 168, 255);
}

p {
    font-family: "HeadlandOne-Regular";
    color: rgb(128, 85, 255);
    font-weight: 700px;
    line-height: 32px;
    font-size: 26px;
    text-align: left;
}

.table-header {
    display: flex;
    height: 48px;
    margin-bottom: 2rem;
    padding: 0.3rem 0.3rem;
    border: 2px solid rgb(168, 168, 255);
}

.table-header__left {
    margin-right: 2rem;
    width: 256px;
    background-color: rgb(128, 85, 255);
}
.table-header_center {
    margin-right: auto;
    width: 2rem;
    background-color: rgb(128, 85, 255);
}

.table-header__right {
    width: 2rem;
    background-color: rgb(128, 85, 255);
}



.field {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid rgb(128, 85, 255);
    background-color: rgb(128, 85, 255);
}
.field__one {
    height: 3rem;
    border: 2px solid rgb(128, 85, 255);
}
.field__two {
    height: 100%;
    background-color: rgb(191, 164, 207);
}  
.field__three {
    height: 3rem;
    background-color: rgb(128, 85, 255);
}